# Bỏ qua thư mục của Visual Studio
.vs/

# Bỏ qua thư mục build
GTO/bin/
DTO/bin/
DAL/bin/
BLL/bin/
GTO/obj/
DTO/obj/
DAL/obj/
BLL/obj/

# Bỏ qua file cấu hình của Visual Studio
*.suo
*.user
*.vcxproj.user
*.cache
*.log
